/*-------------------------------------Task3--------------------------------------*/
.task11{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    position: ;
}
.task12{
    position: absolute;
width: 100px;
height: 100px;
background-color: darkred;
top: 50px;
left: 50px;
z-index: 3;
}
.task13{
    position: absolute;
width: 100px;
height: 100px;
background-color: indianred;
top: 100px;
left: 100px;
}
.task1{
    position: relative;
    height: 200px;
    width: 200px;
}
/*-------------------------------------Task2--------------------------------------*/
.task2{
    position: relative;
    width: 300px;
    height: 250px;
    background-color: goldenrod;
}
.task21{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    z-index: 3;
    top: 25px;
    left: 25px;
}
.task22{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    z-index: 3;
    top: 175px;
    left: 225px;
}
/*-------------------------------------Task3--------------------------------------*/
.task3{
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: green;
}
.task31{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    top: 100px;
    left: 100px;
}
.task32{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    top: 100px;
    left: 300px;
}
.task33{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    top: 225px;
    left: 225px;
}
.task34{
    position: absolute;
    width: 150px;
    height: 15px;
    left: 177px;
    top: 350px;
    background-color: white;
}
/*-------------------------------------Task4--------------------------------------*/
.task4{
    margin-left: 50px;
    position: relative;
    height: 500px;
    width: 250px;
    background-color: rgb(70, 22, 22);
}
.task41{
    position: absolute;
    width: 125px;
    height: 125px;
    top: 17%;
    left: 25%;
    border-radius: 50%;
    background-color: red;
}
.task42{
    position: absolute;
    width: 125px;
    height: 125px;
    top: 43%;
    left: 25%;
    border-radius: 50%;
    background-color: rgb(242, 255, 0);
}
.task43{
    position: absolute;
    width: 125px;
    height: 125px;
    top: 69%;
    left: 25%;
    border-radius: 50%;
    background-color: rgb(0, 255, 26);
}