*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
}

section, header, footer{
    margin: 0 auto;
}

.switch__container {
    width: 120px;
}

.switch {
    visibility: hidden;
    position: absolute;
    margin-left: -9999px;
}

.switch+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.switch--shadow+label {
    padding: 2px;
    width: 120px;
    height: 60px;
    background-color: #dddddd;
    border-radius: 60px;
}

.switch--shadow+label:before,
.switch--shadow+label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}

.switch--shadow+label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 60px;
    transition: background-color 0.4s;
}

.switch--shadow+label:after {
    width: 62px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
}

.switch--shadow:checked+label:before {
    background-color: #8ce196;
}

.switch--shadow:checked+label:after {
    transform: translateX(60px);
}

/* Estilo Flat */
.switch--flat+label {
    padding: 2px;
    width: 120px;
    height: 60px;
    background-color: #dddddd;
    border-radius: 60px;
    transition: background-color 0.4s;
}

.switch--flat+label:before,
.switch--flat+label:after {
    display: block;
    position: absolute;
    content: "";
}

.switch--flat+label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #fff;
    border-radius: 60px;
    transition: background-color 0.4s;
}

.switch--flat+label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 56px;
    background-color: #dddddd;
    border-radius: 52px;
    transition: margin 0.4s, background-color 0.4s;
}

.switch--flat:checked+label {
    background-color: #8ce196;
}

.switch--flat:checked+label:after {
    margin-left: 60px;
    background-color: #8ce196;
}

.btn-box {
    display: flex;
}

.btn-text-one {
    margin-right: 10px;
    width: 37px;
    height: 25px;
    font-family: 'Hammersmith One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: black;
}

.btn-text-two {
    margin-left: 10px;
    width: 26px;
    height: 25px;
    font-family: 'Hammersmith One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: black;
}

header {
    width: 1360px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 180px;
    padding-top: 25px;
    padding-right: 140px;
}

.logo{
    margin-right: 640px
}

/* ___HERO__________________________________________________________________ */

.hero_section{
    background-image: url(imgnewprog/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 260px;
    padding-bottom: 60px;
    display: flex;
}

.info{
    width: 298px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

.text{
    margin-left: 165px;
    margin-right: 860px;
}

.kolosok{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.join_button{
    background: #0B0E66;
    border: 3px solid #26C7EA;
    border-radius: 45px 0px;
    width: 260px;
    height: 80px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;

    color: #26C7EA;

    margin-top: 30px;
}
.pic{
    position: absolute;
    right: 100px;
    top: 106px;
    width: 717px;
height: 600px;
}
.social{
    margin-top: 24px;
}