
.name{
margin-left: 215px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: black;
margin-bottom: 24px;
margin-top: 25px;
}
span{
    color: #2196F3;
}
.tel{
order: 5;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
margin-left: 50px;
color: #757575;
}
.mail{
    margin-left: 344px;
    order: 3;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;
}
a{
    text-decoration: none;
}
a:hover{
    color: #2196F3;
}
header{
    display: flex;
    align-items: baseline;
}
li{
    list-style-type: none;
    display: inline;
}
nav{
color: #212121;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
margin-bottom: 32px;
display: inline;
}
.text1{
margin-left: 93px;
}
.text2{
margin-left: 50px;
}
.text3{
margin-left: 50px;        
}
.hero{
    background-image:url(Img.jpg);
    filter: brightness(80%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1600px;
    height: 600px;
    top: 80px;
}
.herotxt{
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
margin-top: 195px;
margin-left: 452px;
margin-right: 452px    ;
}
.herobtn{
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
background: #2196F3;
border-radius: 8px;
border: none;
width: 216px;
height: 50px;
}
.textbtn{
color: #FFFFFF;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
margin-left: 28px;
margin-top: 10px;
margin-bottom: 10px;
}
h4{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;      
color: #212121;
margin-bottom: 10px;
}
.plsimg1{
    fill: #757575;
    background-color: #F5F4FA;
    display: block;
    padding: 25px 102px;
    margin-bottom: 30px;
}
.plsimg2{
    fill: #757575;
    background-color: #F5F4FA;
    display: block;
    padding: 25px 102px;
    margin-bottom: 30px;
}
.plsimg3{
    fill: #757575;
    background-color: #F5F4FA;
    display: block;
    padding: 25px 102px;
    margin-bottom: 30px;
}
.plsimg4{
    fill: #757575;
    background-color: #F5F4FA;
    display: block;
    padding: 25px 102px;   
    margin-bottom: 30px; 
}
.plstext1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
.plstext2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
.plstext3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
.plstext4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
.pluses{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 94px;       
}
.plsart1{
margin-right: 30PX;
}
.plsart2{
margin-left: 30px;
margin-right: 30PX;
}
.plsart3{
margin-left: 30px;
margin-right: 30PX;
}
.plsart4{
margin-left: 30px;    
}
.mainintereststext{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121; 
position: relative;
display: flex;
justify-content: center;
margin-left: 170px;
}
.interestsmain{
    display: flex;
    justify-content: center;
}
.pnginterests{
    width: 370px;
height: 294px;
left: 215px;
top: 1208px;
margin-top: 50px;
margin-left: 320px;
position: relative
position: absolute;
width: 370px;
height: 294px;
left: 215px;
top: 1208px;
}
.pnginterests2{
    width: 370px;
height: 294px;
left: 215px;
top: 1208px;
margin-top: 50px;
margin-left: 30px;
}
.pnginterests3{
    width: 370px;
height: 294px;
left: 215px;
top: 1208px;
margin-top: 50px;
margin-left: 30px;
margin-right: 140px;
}
.intreststext1{
    position: absolute;
    width: 156px;
    height: 16px;
    left: 245px;
    top: 1342px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #ffffff;
background: rgba(47, 48, 58, 0.8);
padding: 27px 107px;
width: 156px;
height: 16px;

}
.intreststext2  {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #ffffff;
background: rgba(47, 48, 58, 0.8);
width: 156px;
height: 16px;
padding: 27px 113px;
position: absolute;
width: 144px;
height: 16px;
left: 646px;
top: 1342px;
}
.intreststext3{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #ffffff;
background: rgba(47, 48, 58, 0.8);
width: 156px;
height: 16px;
padding: 27px 107px;
left: 1046px;
top: 1342px;
position: absolute;
}
