@media screen and (max-width: 768px) {
    .interestsmain{
        width: 0%;
        height: 0%;
    }
}
.mainintereststext{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121; 
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 170px;
    }
    .interestsmain{
        display: flex;
        justify-content: space-evenly;
        width: 1400px;
        margin-left: 130px;
        margin-top: 50px;
    }
    .pnginterests{
        width: 370px;
    height: 294px;
    width: 370px;
    height: 294px;
    }
    .pnginterests2{
        width: 370px;
    height: 294px;
    }
    .pnginterests3{
        width: 370px;
    height: 294px;
    }
    .intreststext1{
        position: absolute;
        width: 156px;
        height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(47, 48, 58, 0.8);
    padding: 27px 107px;
    width: 156px;
    height: 16px;
    top: 225px;
    left: 0px;
    }
    .intreststext2  {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(47, 48, 58, 0.8);
    width: 156px;
    height: 16px;
    padding: 27px 113px;
    position: absolute;
    width: 144px;
    height: 16px;
    top: 225px;
    left: 0px;
    }
    .intreststext3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(47, 48, 58, 0.8);
    width: 156px;
    height: 16px;
    padding: 27px 107px;
    position: absolute;
    top: 225px;
    left: 0px;
    }
    
    .intbox1{
        width: 370px;
        height: 294px;
        position: relative;
    }
    .intbox2{
        width: 370px;
        height: 294px;
        position: relative;
    }
    .intbox3{
        width: 370px;
        height: 294px;
        position: relative;
    }
