
.team{
    width: 1600px;
    height: 708px;
    background-color: #F5F4FA;
    margin-top: 94px;
    }
    .teamlogo{
    width: 284px;
    height: 42px;
    padding-top: 94px;
    margin-left: 668px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.05em;
    
    color: #212121;
    }
    .teamimg{
    width: 270px;
    height: 260px;
    
    
    border-radius: 0px;
    }
    .teammainbox{
        width: 1170px;
    height: 428px;
    display: flex;
    }
    
    .teambox1{
        width: 270px;
        height: 428px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        margin-left: 215px;
        background-color: #FFFFFF;
    }
    .teambox2{
        width: 270px;
        height: 428px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        margin-left: 30px;
        background-color: #FFFFFF;
    }
    .teambox3{
        width: 270px;
        height: 428px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        margin-left: 30px;
        background-color: #FFFFFF;
    }
    .teambox4{
        width: 270px;
        height: 428px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        margin-left: 30px;
        background-color: #FFFFFF;
    }
    .teamp1{
    width: 149px;
    height: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-top: 30px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
    }
    .teamp2{
    width: 150px;
    height: 19px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #757575;
    margin-top: 10px;
    }
    svg{
        width: 20px;
        height: 20px;
    }
    .teamsvgul{
    display: flex;
        width: 206px;
    height: 44px;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    }
    .teamsvg1{
        width: 44px;
        height: 44px;
        fill: #757575;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .teamsvg1:hover{
    fill: #FFFFFF;
    background-color: #2196F3;
    border-radius: 50%;
    }
    .teamsvg2{
        width: 44px;
        height: 44px;
        fill: #757575;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .teamsvg2:hover{
    fill: #FFFFFF;
    background-color: #2196F3;
    border-radius: 50%;
    }
    .teamsvg3{
        width: 44px;
        height: 44px;
        fill: #757575;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .teamsvg3:hover{
    fill: #FFFFFF;
    background-color: #2196F3;
    border-radius: 50%;
    }
    .teamsvg4{
        width: 44px;
        height: 44px;
        fill: #757575;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .teamsvg4:hover{
    fill: #FFFFFF;
    background-color: #2196F3;
    border-radius: 50%;
    }
    .teamsmallmainbox{
        display: flex;
    }
    @media screen and (max-width:768px) {
        .team{
            height: 1285px;
            
        }
        .teammainbox{
            display: flex;
            flex-direction: column;
        }
        .teamsmallmainbox{
            display: flex;
            flex-direction: row;
            padding-left: 15px;
            justify-content: start;
        }
        .teambox1{
            margin-left: 0px;
        }
        .teambox3{
            margin-left: 0px;
        }
        .teambox4{
            margin-left: 30px;
        }
        .teamlogo{
            margin-left: 0px;
            padding-left:180px;
        }
    }
    @media screen and (max-width:480px) {
        .team{
            height: 2761px;
            
        }
        .teamsmallmainbox{
            display: flex;
            flex-direction: column;
            padding-left: 15px;
            justify-content: start;
        }
        .teammainbox{
            display: flex;
            flex-direction: column;
        }
        .teambox1{
            width:450px ;
            height:622px ;
        }
        .teambox2{
            margin-left: 0px;
            width:450px ;
            height:622px ;
        }
        .teambox3{
            width:450px ;
            height:622px ;
        }
        .teambox4{
            margin-left: 0px;
            width:450px ;
            height:622px ;
        }
        .teamimg{
            width: 450px;
height: 460px;
        }
    }
